<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="35">
      <mat-toolbar>Sign In</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="signin-form">
            <mat-form-field >
              <input matInput placeholder="Username">
            </mat-form-field>  

            <mat-form-field >
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
                <button class="btton" mat-raised-button type="submit">Sign In</button>
                <a style="color: #777b7b" routerLink="" class="href">Forgot your password?</a>
            </form>
    </mat-card>  
</div>


