<html>
    <body style="background-color:#ced3d6">
    <div>
        <h1>
            Inventory
        </h1>
    </div>
    <div>
        <table class="center">
            <tr background background="https://user-images.githubusercontent.com/79421698/197452002-3d40fb54-c378-4b4c-8c7a-81e8582ad3ff.png">
                <td>
                    <a routerLink="../Bounce_Houses"><button type="button" name="myButton">Bounce Houses</button></a>
                </td>

            </tr>
            <tr class="middle" background="https://user-images.githubusercontent.com/79421698/197452110-9dca905d-2209-4129-b6d1-f149eb1f5d80.png">
                <td>
                    <button type="button" name="myButton">Giant Slides</button>
                </td>

            </tr>
            <tr background="https://user-images.githubusercontent.com/79421698/197451867-e72a1b8c-3574-4c7e-8820-19d3acf032e8.png">
                <td>
                    <button type="button" name="myButton">Combos</button>
                </td>
            </tr>
            <tr background="https://user-images.githubusercontent.com/79421698/197452259-43a05a8a-cf27-4a92-9046-68b57703afa3.png">
                <td>
                    <button type="button" name="myButton">Midway Rush Games</button>
                </td>
            </tr>
            <tr background="https://user-images.githubusercontent.com/79421698/197452483-633ef35d-e5a7-4086-828f-4f99990f9a85.png">
                <td>
                    <button type="button" name="myButton">Fun & Games</button>
                </td>
            </tr>
            <tr background="https://user-images.githubusercontent.com/79421698/197452698-100611dd-f3c7-48ba-9d4a-e27931d87512.png">
                <td>
                    <button type="button" name="myButton">Obstacles</button>
                </td>
            </tr>
            <tr background="https://user-images.githubusercontent.com/79421698/197453034-f3059ccb-1d36-4099-b5c7-e3f861c654c9.png">
                <td>
                    <a routerLink="../Equipment"><button type="button" name="myButton">Equipment</button></a>
                </td>
            </tr>
        </table>
    <br><br><br><br>
    </div>
    </body>
</html>
