table,
table tr {
  border: 0px solid #000000;
}

h1{
    text-align: center;
    margin-top: 0%;
    font-family: "Helvetica Neue";

}
body {

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

}

tr {
  height: 100px;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

table {

    width: 100%;
    vertical-align: middle;
    max-width: 800px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.center {
    margin-left: auto;
    margin-right: auto;
  }

button {
    background-color: #ffffff;
    font-size: 19px;
    border: 2px solid #000000;
    padding: 15px 50px;
    cursor: pointer;
    font-family: "Helvetica Neue";
}
button:hover {
    color: #000000;
    background-color: #fbf4b0;
}

.background {

    opacity: .8;

}

.middle {
    vertical-align: middle;
 }

 .myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
  }