<html>
    <body style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">
    <div>
        <h1 style="font-family: Arial, Helvetica, sans-serif;">
            Create Bounce House
        </h1>
    </div>
    <div>
        <form>
        <table class="center">
            <tr>
                <td width="33%">
                    <label>Bounce House Name?</label>>
                </td>
                <td>
                    <input type="text" id ="bounceHouseName" name = "bounceHouseName">
                </td>
                
            </tr>
            <tr>
                <td>
                    <button type="button" name="myButton">Giant Slides</button>
                </td>
                
            </tr>
            <tr>
                <td>
                    <button type="button" name="myButton">Combos</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" name="myButton">Midway Rush Games</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" name="myButton">Fun & Games</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" name="myButton">Obstacles</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" name="myButton">Equipment</button>
                </td>
            </tr>
        </table>
    </form>
    <br><br><br><br>
    </div>
    </body>
</html>